<a href="https://colab.research.google.com/github/nansis4457/OpenSourceSW_2020004457_LeeHwanHun/blob/main/7_20_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Day 1</h1>

series = 1차원 배열(=딕셔너리) / dataframe = 2차원 배열 (행:열)
<br><br>
index : value

*   시리즈 변환 / 데이터프레임 변환 -> pd.Series(data, index = [ ])
   / pd.DataFrame(2차원 배열, index = [ ], columns = [ ])

*   여러개의 인덱스를 대괄호 [ ]에 입력 시 원소 데이터 모두 반환

*   자료형 출력시 type()
*  행 인덱스, 열 이름 설정 시 ->  df.index = ['  '] / df.columns = [' ']
* 행 인덱스, 열 이름  변경 시 -> df.rename(index ={딕셔너리}, inplace = True/False)<br>  / <- inplace는 원본 객체 변경 여부
 df.rename(columns={딕셔너리}, inplace = True/False)
*  행 인덱스, 열 이름  삭제 시 -> df.drop(행 인덱스 또는 배열, axis=0)/
<br>  / <- inplace는 원본 객체 변경 여부
 df.drop(열 이름 또는 배열, axis=1) <- axis(0 -> 행 // 1 -> 열)

<b>2. 선택</b> + 슬라이싱 기법
<h3><행 선택></h3>
*   행 선택 시 -> loc(인덱스 이름) / iloc(정수형 위치 인덱스) <br>
ex) df.loc['공기', '바람'] , df.iloc[[0, 2]]
*   슬라이싱 기법 -> df.loc['공기': '바람']  &nbsp; != &nbsp;  df.iloc[0: 1]


-----------

<h3><열 선택></h3>
*   열 선택 시 df['열 이름']  = df.열이름 (단, 열이름이 문자열일 경우 가능)
*   열 n개 선택 -> df[ [ 열1,열2 ... 열n ] ]
*   df['수학'] -> 시리즈로 반환 // df[['수학']] -> 데이터 프레임으로 반환
*   범위 슬라이싱: df.iloc[시작 인덱스 :  끝 인덱스 : 슬라이싱 간격] <br>
-----------

<h3><원소 선택></h3>

*   df.loc[행 인덱스, 열 이름] or df.iloc[행 번호, 열 번호]
<br> 이를 활용한 연습이 필요. <br> ex)  df.loc['서준', ['음악', '체육']]  ==  df.iloc[0, [2, 3]]  ==   df.loc['서준', '음악':'체육']

<h3>3. 추가 </h3>


*   행 추가 -> df.loc['새로운 행 이름'] = 데이터 값
*   열 추가 -> df[새로운 열 이름] = 원소 리스트


*   행, 열 위치 바꾸기 -> df.transpose() or df.T

<h3> 4. 인덱스 활용 </h3>


*   특정 열을 행 인덱스로 설정 -> df.set_index ( ['이름'] )
*   행 인덱스 재배열 -> df.reindex(새로운 인덱스 배열. fill_value= n) <-NaN을 유효한 값으로 대체


*   행 인덱스 초기화 -> df.reset_index()
*  행 인덱스를 기준으로 정렬 -> df.sort_index(ascending=True) 오름차순
* 열의 데이터 값을 기준으로 정렬 -> df.sort_values(by='열이름', ascending=True)

In [ ]:
import pandas as pd #pandas -> series or DataFrame

dict_data = {'a':1,'b':2, 'c':3}
#dict -> series
sr = pd.Series(dict_data)

print(type(sr))
# print('\n')
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [ ]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr_2 = pd.Series(list_data)
# print(sr_2)
idx = sr_2.index
val = sr_2.values
print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [ ]:
tup_data = ('영인','2010-05-01', '여', True)
sr = pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])
# print(sr)
# print(sr[[1,2]]) #  == print(sr[1:2])
print(sr[['생년월일','성별']]) # == print(sr['생년월일':'성별'])

생년월일    2010-05-01
성별               여
dtype: object

In [ ]:
#DataFrame = Series X N
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9]} #<- key는 열 index로 변환
df = pd.DataFrame(dict_data)

print(type(df))
# print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2
0   1   4   7
1   2   5   8
2   3   6   9

In [ ]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index=['준서','예은'], columns=['나이','성별','학교'])

df.index = ['학생1','학생2']
df.columns = ['연령','남녀','소속']

print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [ ]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index=['준서','예은'], columns=['나이','성별','학교'])

df.rename(columns = {'나이':'연령','성별':'남녀', '학교':'소속'}, inplace=True) #기존:신규
df.rename(index = {'준서':'학생1','예은':'학생2'}, inplace=True)

print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

<행 삭제>

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아']) #행 인덱스 삽입
print(df)
print('\n')

# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제
df2 = df[:]
df2.drop('우현', inplace=True) #우현 행 삭제, axis=0 기본값
print(df2)
print('\n')

# # 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

<ipython-input-19-be38ad53b40f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True) #우현 행 삭제, axis=0 기본값
<ipython-input-19-be38ad53b40f>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], axis=0, inplace=True)

<열 삭제>

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column)을 삭제
df4 = df.copy() # <- df[:]
df4.drop('수학', axis=1, inplace=True)
print(df4)
print('\n')

# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열(column)을 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [ ]:
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)       # 데이터프레임 출력
print('\n')

# 행 인덱스를 사용하여 행 1개를 선택 <- df.loc['서준'] == df.iloc[0]
label1 = df.loc['서준']    # loc 인덱스 활용
position1 = df.iloc[0]     # iloc 인덱스 활용
print(label1)
print('\n')
print(position1)
print('\n')

# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]
print(label2)
print('\n')
print(position2)
print('\n')

# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

# '수학' 점수 데이터만 선택. 변수 math1에 저장
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# '영어' 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english)
print(type(english))
print('\n')

# '음악', '체육' 점수 데이터를 선택. 변수 music_gym 에 저장
music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print('\n')

# '수학' 점수 데이터만 선택. 변수 math2에 저장
math2 = df[['수학']]
print(math2)
print(type(math2))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>


    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df)
print('\n')

# # 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
print('\n')

# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수)
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악':'체육']
print(e)
f = df.iloc[0, 2:]
print(f)
print('\n')

# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print(j)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


85
85


음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64


    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [ ]:
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True) #set_index()
# g = df.loc[['서준', '우현'], ['음악','체육']]
# h = df.iloc[[0,1],[2,3]]
# i = df.loc['서준':'우현', '음악':'체육']
# j = df.iloc[0:2, 2:]
df['국어'] = 80 # 열 추가시 동일한 값 입력
df.loc['동규'] = [90, 80, 70, 60, 95]
df.iloc[0, 2:4] = 99, 99

# ndf = df.set_index('음악')
# df = df.transpose() #행/열 전환 <= df.T

# df = df.reindex(['서준','우현','인아', 'r4','r5'], fill_value=55)
df = df.reset_index()
df.sort_index(ascending=False)
df.sort_values(by='음악', ascending=False)

   이름  수학  영어   음악  체육  국어
2  인아  70  95  100  90  80
0  서준  90  98   99  99  80
1  우현  80  89   95  90  80
3  동규  90  80   70  60  95

In [ ]:
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정
ndf = df.set_index(['이름'])
print(ndf)
print('\n')
ndf2 = ndf.set_index('음악')
print(ndf2)
print('\n')
ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3)

In [ ]:
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정
ndf = df.set_index(['이름'])
print(ndf)
print('\n')
ndf2 = ndf.set_index('음악')
print(ndf2)
print('\n')
ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3)

In [ ]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

# reindex로 발생한 NaN값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)